/**
 * @name Crystalline
 * @author Gibbu
 * @version 0.0.5
 * @description A beautiful frosted glass theme with support for both dark and light themes.
 * @source https://github.com/DiscordStyles/Crystalline
 * @authorId 174868361040232448
*/

@import url('https://discordstyles.github.io/Crystalline/Crystalline.css');

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
:root {
  /**
   * Background image variables
   * URL MUST BE A DIRECT IMAGE LINK (Ending in .jpg, .jpeg, .png, .gif)
   */
  --app-image-dark: url("https://i.imgur.com/iwsTO4e.jpg"); /* The image used for Dark Mode */
  --app-image-light: url("https://i.imgur.com/i0LtTx1.jpg"); /* The image used for Light Mode */
  /*
   * Background image modifier variables
   */
  --app-image-blur: 25px; /* Blur intensity of --app-image | Must end in px */
  /**
   * Accent variables
   */
  --accent: 203 78 205; /* Colour used around the app | Values are in R G B format */
  /**
   * Opacity variables
   */
  --app-opacity: .85; /* The opacity of the foreground */
  --grain-opacity: .65; /* The opacity of the film grain of the --app-image */
  /**
   * Width variables
   */
  --guilds-width: 80px; /* Width for the server list */
  --sidebar-width: 280px; /* Width channels and dms */
  --members-width: 280px; /* Width for members lists */
  /**
   * Server alignment variables
   */
  --server-alignment: center; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end */
  /**
   * Font variable
   */
  --font: "Inter";
}