/**
 * @name Crystalline
 * @author Gibbu
 * @version 0.0.1
 * @description A beautiful frosted glass theme with support for both dark and light themes.
 * @source https://github.com/DiscordStyles/Crystalline
 * @authorId 174868361040232448
*/

@import url('https://discordstyles.github.io/Crystalline/Crystalline.css');

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
:root {
  --app-image: url("https://i.imgur.com/4p8XfVy.jpg");
  --app-image-blur: 25px;
  --accent: 56 189 248;
  --app-opacity: .85;
  --grain-opacity: .65;
  --guilds-width: 80px;
  --sidebar-width: 280px;
  --members-width: 280px;
  --font: "Inter";
}