@use '../classes' as *;

#app-mount {
	#{cls('tooltip.container')} {
		backdrop-filter: blur(var(--app-blur));
		border-radius: var(--radius);
	}
	#{cls('tooltip.primary')} {
		background: var(--bg-flyout);
		border: 1px solid var(--border);
		#{cls('tooltip.pointer')} {
			border-top-color: var(--border);
		}
	}
}
