@use '../classes' as *;

#{cls('mount')} {
	#{cls('guilds.container')} {
		background: transparent;
		width: var(--guilds-width);
	}
	#{cls('guilds.list.item')} {
		width: var(--guilds-width);
	}

	#{cls('guilds.scroller')} {
		background: transparent;
		contain: unset;
		padding: 0;
		margin-bottom: calc(var(--bottom-height) + 1px);
		margin-top: calc(var(--toolbar-height) + 1px);
		display: flex;
		flex-direction: column;
		justify-content: var(--server-alignment);
		overflow: visible !important;
		&::-webkit-scrollbar {
			display: none;
		}

		& > #{cls('guilds.home')} {
			height: calc(var(--toolbar-height) - 1px);
			border-bottom: 1px solid var(--border);
			overflow: hidden;
			position: absolute;
			top: calc(var(--toolbar-height) / -1 - 1px);
			z-index: 1;

			#{cls('guilds.list.item')} {
				margin: 0;
			}
			#{cls('guilds.list.inner')},
			#{cls('guilds.list.childWrapper')} {
				width: var(--guilds-width);
				height: var(--toolbar-height);
				margin-top: 3px;
				background: transparent;
			}

			& + #{cls('guilds.list.item')} {
				display: none;
			}
		}

		& > div[aria-label] {
			overflow: hidden auto !important;
			padding: 16px 0;
			display: flex;
			flex-direction: column;
			gap: 8px;
			&::-webkit-scrollbar {
				display: none;
			}
		}

		& > #{cls('guilds.list.addJoin')},
		& > #{cls('guilds.home')} {
			display: flex;
			align-items: center;
			#{cls('guilds.list.item')} {
				margin: 0;
			}
			foreignObject {
				mask: none;
				width: var(--guilds-width);
				height: var(--bottom-height);
			}
			#{cls('guilds.list.server')} {
				width: var(--guilds-width);
				height: var(--bottom-height);
			}
			#{cls('guilds.list.circleButton')} {
				width: var(--guilds-width);
				height: var(--bottom-height);
				background: transparent;
				color: var(--text-muted);
			}
		}
		& > #{cls('guilds.list.addJoin')} {
			position: fixed;
			bottom: 0;
			border-top: 1px solid var(--border);
			height: var(--bottom-height);
			& + #{cls('guilds.list.item')} {
				display: none;
			}
		}
	}
}
