@use '../classes' as *;

#{cls('mount')} {
	#{cls('guilds.folder.container')} {
		background: transparent;
		border-radius: 50%;
		&[aria-expanded='true'] {
			background: var(--fg-main);
		}
	}
	#{cls('guilds.folder.wrapper')} {
		width: var(--guilds-width);
		& > #{cls('guilds.list.item guilds.list.server')} foreignObject {
			mask: none;
		}
		[role='group'] {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
	}
	#{cls('guilds.folder.openedBackground')} {
		left: 50%;
		transform: translateX(-50%);
		background: var(--fg-main);
		&#{cls('guilds.folder.collapsed')} {
			display: none;
		}

		&#{cls('!guilds.folder.collapsed')} + #{cls('guilds.list.item guilds.list.server')} {
			margin-bottom: 8px;
		}
	}
}
