#app-mount {
	.guilds-2JjMmN {
		.pill-2RsI5Q {
			overflow: visible;
		}
		.item-2LIpTv {
			margin-left: 0;
			width: 2px;
			border-radius: 0;
			box-shadow: 0 0 10px 1px var(--interactive-active);
		}
	}
	
	.listItem-3SmSlK {
		margin: 0;
	}

	.tutorialContainer-1pL9QS {
		.pill-L_aLMQ {
			top: 50%;
			transform: translateY(-50%);
		}

		& + div[style] {
			padding: 16px 0;
			height: auto !important;
		}
	}
	.guildSeparator-a4uisj {
		width: var(--guilds-width);
		border-radius: 0;
		background: var(--border);
		height: 1px;
	}
}