@use '../classes' as *;

#{cls('mount')} {
	#{cls('guilds.container')} {
		#{cls('guilds.list.pill')} {
			overflow: visible;
		}
		#{cls('guilds.list.pillItem')} {
			margin-left: 0;
			width: 2px;
			border-radius: 0;
			box-shadow: 0 0 10px 1px var(--interactive-active);
		}
	}

	#{cls('guilds.list.item')} {
		margin: 0;
	}

	#{cls('guilds.home')} {
		#{cls('guilds.homePill')} {
			top: 50%;
			transform: translateY(-50%);
		}

		& + div[style] {
			padding: 16px 0;
			height: auto !important;
		}
	}
	#{cls('guilds.separator')} {
		width: var(--guilds-width);
		border-radius: 0;
		background: var(--border);
		height: 1px;
	}
}
