@use '../classes' as *;

#{cls('mount')} {
	#{cls('members.container')} {
		background: transparent;
	}

	#{cls('members.scroller')} {
		background: transparent;
		border-left: 1px solid var(--border);
		width: var(--members-width);
		#{cls('members.content')} {
			height: 100% !important;
		}
		& > div {
			background: transparent;
		}
	}
}
