@use '../classes' as *;

#{cls('mount')} {
	#{cls('member.container+members.header')} {
		border-top: 1px solid var(--border);
		margin-top: 16px;
	}
	#{cls('members.header')} {
		padding: 16px 16px 8px;
		height: auto;
	}
}
