@use '../classes' as *;

#{cls('mount member.container')} {
	margin: 0;
	padding: 0;
	max-width: unset;
	background: transparent;

	#{cls('member.layout')} {
		border-radius: 0;
		padding: 4px 16px;
	}

	&:hover #{cls('member.layout')} {
		background: var(--fg-hover);
	}
	&#{cls('member.selected member.layout')} {
		background: var(--fg-active);
	}
}
