.theme-light,
html.theme-light #app-mount .theme-light .root_a28985,
html.theme-light .force-theme.theme-light {
	--border: hsl(0 0% 0% / 0.175);

	--bg-main: hsl(0 0% 100% / var(--app-opacity));
	--bg-flyout: hsl(0 0% 100% / 0.75);
	--bg-input: hsl(0 0% 0% / 0.1);
	--bg-input-focus: hsl(0 0% 0% / 0.15);

	--fg-main: hsl(0 0% 0% / 0.085);
	--fg-hover: hsl(0 0% 0% / 0.035);
	--fg-active: hsl(0 0% 0% / 0.075);

	--shadow-flyout: 0 8px 15px hsl(0 0% 0% / 0.15);

	--text-normal: #444;
	--text-muted: #666;
	--interactive-normal: #444;
	--interactive-muted: #aaa;
	--channel-text-area-placeholder: #666;
}
