:root {
	--grain: url('https://i.imgur.com/86zHUGF.png');

	--radius: 6px;

	--bottom-height: 65px;
	--toolbar-height: 55px;

	--font-primary: var(--font);
	--font-display: var(--font);

	--app-blur: 6px;

	--message-highlight-duration: 0.15s;
}
