@use '../classes' as *;

#{cls('mount')} {
	#{cls('input.container!input.multiInput|input.multiField')},
	#{cls('input.container:input.multiInput')} {
		border: 1px solid var(--border);
		background: var(--bg-input);
		border-radius: var(--radius);
		transition-property: background-colour, border-color;
		color: var(--text-normal);
		padding: 4px 8px;
		height: auto !important;
		&:hover {
			border-color: rgb(var(--accent));
		}
		&:focus-within {
			border-color: rgb(var(--accent));
			background: var(--bg-input-focus);
		}
	}
	#{cls('input.multiInputLast')}::before {
		content: none;
	}

	// Icon prefix
	#{cls('input.wrapper')} #{cls('input.iconPrefix')} {
		top: 14px;
		left: 12px;
		pointer-events: none;
		& + #{cls('input.container!input.multiInput|input.multiField')} {
			padding-left: 38px;
		}
	}
}
