@use '../classes' as *;

#{cls('mount')} {
	#{cls('sidebar.channel.wrapper')} {
		padding: 0;

		#{cls('sidebar.channel.unreadPill')} {
			display: none;
		}

		&:hover {
			#{cls('sidebar.channel.icon')} {
				color: var(--interactive-hover);
			}
			#{cls('sidebar.channel.content')} {
				background: var(--fg-hover);
			}
		}
		&#{cls('sidebar.channel.unread')} {
			--pill-colour: var(--interactive-active);
			--pill-height: 50%;
			#{cls('sidebar.channel.icon')} {
				color: var(--interactive-active);
			}
		}
		&#{cls('sidebar.channel.selected')} {
			--pill-colour: rgb(var(--accent));
			--pill-height: 100%;
			#{cls('sidebar.channel.icon')} {
				color: var(--interactive-active);
			}
			#{cls('sidebar.channel.content')} {
				background: var(--fg-active);
			}
		}
	}

	#{cls('sidebar.channel.content')} {
		padding: 4px 12px;
		margin: 0;
		border-radius: 0;
		position: relative;
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			height: var(--pill-height);
			width: 1px;
			background: var(--pill-colour);
			left: 0;
			box-shadow: 0 0 15px 2px var(--pill-colour);
		}
	}
}
