#app-mount {
	.wrapper-NhbLHG {
		padding: 0;

		.unread-36eUEm {
			display: none;
		}

		&:hover {
			.icon-2W8DHg {
				color: var(--interactive-hover);
			}
			.content-1gYQeQ {
				background: var(--fg-hover);
			}
		}
		&.modeUnread-3Cxepe {
			--pill-colour: var(--interactive-active);
			--pill-height: 50%;
			.icon-2W8DHg {
				color: var(--interactive-active);
			}
		}
		&.modeSelected-3DmyhH {
			--pill-colour: rgb(var(--accent));
			--pill-height: 100%;
			.icon-2W8DHg {
				color: var(--interactive-active);
			}
			.content-1gYQeQ {
				background: var(--fg-active);
			}
		}
	}

	.content-1gYQeQ {
		padding: 4px 12px;
		margin: 0;
		border-radius: 0;
		position: relative;
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			height: var(--pill-height);
			width: 1px;
			background: var(--pill-colour);
			left: 0;
			box-shadow: 0 0 15px 2px var(--pill-colour);
		}
	}
}