@use '../classes' as *;

#{cls('mount')} {
	#{cls('sidebar.sidebar')} {
		background: transparent;
		width: var(--sidebar-width);
		border-right: 1px solid var(--border);
		border-left: 1px solid var(--border);
		border-radius: 0;
		overflow: visible;
	}

	#{cls('sidebar.container')},
	#{cls('sidebar.dms.container')} {
		background: transparent;
	}
	#{cls('sidebar.channels.scroller')},
	#{cls('sidebar.dms.scroller')} {
		background: transparent;
	}
}
