#app-mount {
	.sidebar-1tnWFu {
		background: transparent;
		width: var(--sidebar-width);
		border-right: 1px solid var(--border);
		border-left: 1px solid var(--border);
		border-radius: 0;
	}

	.container-1NXEtd,
	.privateChannels-oVe7HL {
		background: transparent;
	}
	.scroller-1ox3I2,
	.scroller-WSmht3 {
		background: transparent;
	}
}