#app-mount {
	.sidebar-1tnWFu {
		background: transparent;
		width: var(--sidebar-width);
		border-right: 1px solid var(--border);
		border-radius: 0;
		overflow-x: visible !important;
		.scroller-1ox3I2 {
			overflow-x: visible !important;
		}
	}

	.container-1NXEtd,
	.privateChannels-oVe7HL {
		background: transparent;
	}
	.scroller-1ox3I2,
	.scroller-WSmht3 {
		background: transparent;
	}
}