#app-mount {
	.channel-1Shao0 {
		max-width: unset;
		margin: 0;
		padding: 0;
	}
	.interactive-1vLZ_I {
		padding: 4px 8px 4px 16px;
		border-radius: 0;
		.layout-1LjVue {
			padding-left: 0;
		}
		&.selected-3veCBZ {
			background: var(--fg-active);
			.layout-1LjVue {
				&::before {
					content: '';
					position: absolute;
					height: 100%;
					width: 1px;
					background: rgb(var(--accent));
					left: 0;
				}
				&::after {
					content: '';
					position: absolute;
					left: 0;
					height: 100%;
					width: 1px;
					box-shadow: 0 0 15px 2px rgb(var(--accent));
					opacity: .75;
				}
			}
		}
	}
}