#app-mount {
	.header-3OsQeK {
		box-shadow: none;
		border-bottom: 1px solid var(--border);
		height: var(--toolbar-height);
		display: flex;
		align-items: center;
		&:hover {
			background: var(--fg-hover);
		}
	}
	.selected-1GtAC5 .header-3OsQeK {
		background: var(--fg-active);
	}
	.headerContent-2SNbie {
		flex: 1;
	}

	.bannerImage-ubW8K- {
		width: 100%;
	}
	.bannerImg-2PzH6z {
		width: 100%;
	}

	.searchBar-3TnChZ {
		height: calc(var(--toolbar-height) - 1px);
		box-shadow: none;
		border-bottom: 1px solid var(--border);
		padding: 0;
		button {
			height: 100%;
			border-radius: 0;
			background: transparent;
			padding: 0 16px;
		}
	}
}