@use '../classes' as *;

#{cls('mount')} {
	#{cls('sidebar.head.header')} {
		box-shadow: none;
		border-bottom: 1px solid var(--border);
		height: var(--toolbar-height);
		display: flex;
		align-items: center;
		&:hover {
			background: var(--fg-hover);
		}
	}
	#{cls('sidebar.head.selected')} #{cls('sidebar.head.header')} {
		background: var(--fg-active);
	}
	#{cls('sidebar.head.content')} {
		flex: 1;
	}

	#{cls('sidebar.head.image')},
	#{cls('sidebar.head.img')} {
		width: 100%;
	}

	#{cls('sidebar.head.search')} {
		height: calc(var(--toolbar-height) - 1px);
		box-shadow: none;
		border-bottom: 1px solid var(--border);
		padding: 0;
		button {
			height: 100%;
			border-radius: 0;
			background: transparent;
			padding: 0 16px;
		}
	}
}
