#app-mount {
	.panels-3wFtMD {
		background: transparent;
		border-top: 1px solid var(--border);
		position: relative;
	}

	// Connected voice
	.container-1zzFcN {
		padding: 0;
		& > .flex-2S1XBF {
			padding: 0;
			gap: 8px;
			& > .inner-llGtyq {
				padding: 8px;
			}
			& > .flex-2S1XBF {
				margin: 0;
				button {
					height: 47px;
					width: 42px;
					border-radius: 0;
					&:hover {
						background: var(--fg-active);
					}
				}
			}
		}
	}
	.actionButtons-2vEOUh {
		gap: 0;
		padding: 0;
		border-top: 1px solid var(--border);
		button {
			border-radius: 0;
			background: transparent;
			height: 42px;
			&:hover {
				background: var(--fg-active);
			}
		}
	}

	// User area
	.container-YkUktl {
		flex-direction: column;
		height: calc(var(--bottom-height) - 1px);
		padding: 0;
		.flex-2S1XBF {
			width: 100%;
		}
		.avatarWrapper-1B9FTW {
			position: absolute;
			right: calc(var(--bottom-height) / -1);
			margin: 0;
			height: var(--bottom-height);
			width: var(--bottom-height);
			border-right: 1px solid var(--border);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.nameTag-sc-gpq {
			display: none;
		}
		button {
			height: var(--bottom-height);
			border-radius: 0;
			width: 100%;
			&:hover {
				background: var(--fg-active);
			}
		}
	}
}