@use '../classes' as *;

#{cls('mount')} {
	#{cls('sidebar.panels.container')} {
		background: transparent;
		border-top: 1px solid var(--border);
		position: relative;
	}

	// Connected voice
	#{cls('sidebar.connected.container')} {
		padding: 0;
		& > #{cls('common.flex')} {
			padding: 0;
			gap: 8px;
			& > #{cls('sidebar.connected.info.inner')} {
				padding: 8px;
			}
			& > #{cls('common.flex')} {
				margin: 0;
				button {
					height: 47px;
					width: 42px;
					border-radius: 0;
					&:hover {
						background: var(--fg-active);
					}
				}
			}
		}
	}
	#{cls('sidebar.connected.actions.container')} {
		gap: 0;
		padding: 0;
		border-top: 1px solid var(--border);
		button {
			border-radius: 0;
			background: transparent;
			height: 42px;
			&:hover {
				background: var(--fg-active);
			}
		}
	}

	// User area
	#{cls('sidebar.panels.user.container')} {
		flex-direction: column;
		height: calc(var(--bottom-height) - 1px);
		padding: 0;
		#{cls('common.flex')} {
			width: 100%;
		}
		#{cls('sidebar.panels.user.avatarWrapper')} {
			position: absolute;
			right: calc(var(--bottom-height) / -1);
			margin: 0;
			height: var(--bottom-height);
			width: var(--bottom-height);
			border-right: 1px solid var(--border);
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: unset;
			padding: 0;
			border-radius: 0;
			cursor: pointer;
			&:hover {
				background: var(--fg-active);
			}
		}
		#{cls('sidebar.panels.user.name')} {
			display: none;
		}
		button {
			height: var(--bottom-height);
			border-radius: 0;
			width: 100%;
			&:hover {
				background: var(--fg-active);
			}
		}
	}
}
