@use '../classes' as *;

#{cls('mount')} {
	// New messages
	#{cls('chat.bars.newMessages.container')} {
		left: 0;
		right: 0;
		border-bottom: 1px solid var(--border);
		border-radius: 0;
		opacity: 1;
		box-shadow: none;
		background: var(--fg-main);
		&::before {
			content: '';
			position: absolute;
			left: -1px;
			height: 100%;
			width: 1px;
			background: rgb(var(--accent));
			z-index: 1;
		}
		button {
			height: auto;
			padding: 8px 16px;
			backdrop-filter: blur(var(--app-blur));
		}
	}

	// Replying
	#{cls('chat.bars.reply.attachedBars')} {
		background: transparent;
		border-radius: 0;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: -1px;
			height: 100%;
			background: rgb(var(--accent));
			width: 1px;
		}
	}
	#{cls('chat.bars.reply.clip')} {
		margin: 0;
		padding: 0;
	}
	#{cls('chat.bars.reply.bar')} {
		background: var(--fg-main);
		border-top: 1px solid var(--border);
		border-radius: 0;
		position: relative;
	}

	// Typing/slow mode
	#{cls('chat.textbox.typing.container')} {
		left: 0;
		right: 0;
		padding: 0 16px;
		top: 0;
		border-top: 1px solid var(--border);
		background: var(--fg-main);
		top: -25px;
		backdrop-filter: blur(var(--app-blur));
	}
	#{cls('chat.textbox.typing.ellipsis')} {
		margin-left: 0;
	}
}
