#app-mount {
	.newMessagesBar-1hF-9G {
		left: 0;
		right: 0;
		border-bottom: 1px solid var(--border);
		border-radius: 0;
		opacity: 1;
		box-shadow: none;
		background: var(--fg-main);
		&::before {
			content: '';
			position: absolute;
			left: -1px;
			height: 100%;
			width: 1px;
			background: rgb(var(--accent));
			z-index: 1;
		}
		button {
			height: auto;
			padding: 8px 16px;
			backdrop-filter: blur(var(--app-blur));
		}
	}

	.attachedBars-2BCP3l {
		background: transparent;
		border-radius: 0;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: -1px;
			height: 100%;
			background: rgb(var(--accent));
			width: 1px;
		}
	}
	.clipContainer-31nYlH {
		margin: 0;
		padding: 0;
	}
	.replyBar-1oi75v {
		background: var(--fg-main);
		border-top: 1px solid var(--border);
		border-radius: 0;
		position: relative;
	}
}