@use '../classes' as *;

#{cls('mount')} {
	#{cls('chat.divider.container')} {
		margin: 2rem 0;
		border: none;
		&::before,
		&::after {
			content: '';
			height: 1px;
			width: 100%;
			background: var(--border);
		}
		&#{cls('chat.divider.unread')} {
			&::before,
			&::after {
				background: var(--status-danger);
			}
		}
	}
	#{cls('chat.divider.content')} {
		padding: 6px 24px;
		background: var(--fg-main);
		border: 1px solid var(--border);
		font-weight: 400;
		color: var(--text-normal);
	}
}
