@use '../classes' as *;

#{cls('mount')} {
	#{cls('chat.message.container')} {
		&#{cls('chat.message.replying')} {
			background: rgb(var(--accent) / 0.075);
			&::before {
				background: rgb(var(--accent));
			}
		}
		&#{cls('chat.message.selected')} {
			background: var(--fg-hover);
		}
	}

	#{cls('chat.message.markup')} code {
		background: var(--fg-main);
		border-color: var(--border);
	}
	#{cls('chat.codeContent.container')} {
		background: var(--fg-main);
		border: 1px solid var(--border);
		border-radius: var(--radius);
		overflow: hidden;
		#{cls('chat.codeContent.code')} {
			background: transparent;
			border: none;
		}
		#{cls('chat.codeContent.footer.container')} {
			background: transparent;
			border-top: 1px solid var(--border);
		}
	}
}

#{cls('common.mode.mouse+common.motion.full chat.message.container!chat.message.mentioned')}:hover {
	background: var(--fg-hover);
	transition: var(--message-highlight-duration) ease background;
}
