#app-mount {
	.message-2CShn3 {
		&.replying-eZ7p5z {
			background: rgb(var(--accent) / .075);
			&::before {
				background: rgb(var(--accent));
			}
		}
		&.selected-2LX7Jy {
			background: var(--fg-hover);
		}
	}

	.markup-eYLPri {
		code {
			background: var(--fg-main);
			border-color: var(--border);
		}
	}
	.embedMedia-1mdWSP:not(.imageContent-3Av-9c) {
		background: var(--fg-main);
		border: 1px solid var(--border);
		border-radius: var(--radius);
		overflow: hidden;
		.textContainer-36wgKK {
			background: transparent;
			border: none;
		}
		.footer-GXWBBp {
			background: transparent;
			border-top: 1px solid var(--border);
		}
	}
}

.mouse-mode.full-motion .message-2CShn3:not(.mentioned-Tre-dv):hover {
	background: var(--fg-hover);
}