#app-mount {
	.menu-1QACrS {
		border: 1px solid var(--border);
		background: var(--bg-flyout);
		box-shadow: var(--shadow-flyout);
		border-radius: var(--radius);
		
		&::before {
			content: "";
			border-radius: 6px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			backdrop-filter: blur(var(--app-blur));
		}

		.scroller-1bVxF5 {
			padding: 0 !important;
			& > .item-1OdjEX:first-child {
				border-radius: var(--radius) var(--radius) 0 0;
			}
			& > .item-1OdjEX:last-child {
				border-radius: 0 0 var(--radius) var(--radius);
			}
			& > div[style*="height: 6px"] {
				display: none;
			}
		}

		.separator-1So4YB {
			margin: 0;
			border-color: var(--border);
		}

		.submenuPaddingContainer-_k62dJ {
			margin: 0 -4px;
		}

		[role="group"] {
			&:first-child .item-1OdjEX:first-child {
				border-radius: var(--radius) var(--radius) 0 0;
			}
			&:nth-last-child(2) .item-1OdjEX:last-child,
			&:nth-last-child(2) .item-1OdjEX:nth-last-child(2) {
				border-radius: 0 0 var(--radius) var(--radius);
			}
		}
	}
	.item-1OdjEX {
		margin: 0;
		padding: 8px 12px;
		border-radius: 0;
		&:active:not(.hideInteraction-2jPGL_) {
			background: rgb(var(--accent) / .05);
			color: rgb(var(--accent) / .55);
		}
		&.focused-3qFvc8 {
			background: rgb(var(--accent) / .1);
			color: rgb(var(--accent))
		}
	}
}