@use '../classes' as *;

#{cls('mount')} {
	#{cls('popout.menu.container')} {
		border: 1px solid var(--border);
		background: var(--bg-flyout);
		box-shadow: var(--shadow-flyout);
		border-radius: var(--radius);

		&::before {
			content: '';
			border-radius: 6px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			backdrop-filter: blur(var(--app-blur));
		}

		#{cls('popout.menu.scroller')} {
			padding: 0 !important;
			& > #{cls('popout.menu.item.container')}:first-child {
				border-radius: var(--radius) var(--radius) 0 0;
			}
			& > #{cls('popout.menu.item.container')}:last-child {
				border-radius: 0 0 var(--radius) var(--radius);
			}
			& > div[style*='height: 6px'] {
				display: none;
			}
		}

		#{cls('popout.menu.separator')} {
			margin: 0;
			border-color: var(--border);
		}

		#{cls('popout.menu.sub.padding')} {
			margin: 0 -4px;
		}

		#{cls('popout.menu.group')} {
			&:first-child #{cls('popout.menu.item.container')}:first-child {
				border-radius: var(--radius) var(--radius) 0 0;
			}
			&:nth-last-child(2) #{cls('popout.menu.item.container')}:last-child,
			&:nth-last-child(2) #{cls('popout.menu.item.container')}:nth-last-child(2) {
				border-radius: 0 0 var(--radius) var(--radius);
			}
		}
	}
	#{cls('popout.menu.item.container')} {
		margin: 0;
		padding: 8px 12px;
		border-radius: 0;
		&:active#{cls('!popout.menu.item.hideInteraction')} {
			background: rgb(var(--accent) / 0.05);
			color: rgb(var(--accent) / 0.55);
		}
		&#{cls('popout.menu.item.focused')} {
			background: var(--fg-hover);
			color: var(--text-normal);
		}
	}
	#{cls('popout.menu.quickReactions.container')} {
		border-bottom: 1px solid var(--border);
		padding: 0;
	}
	#{cls('popout.menu.quickReactions.item')} {
		width: 100%;
		&:not(:first-child) > #{cls('popout.menu.quickReactions.button')} {
			border-left: 1px solid var(--border);
		}
	}
	#{cls('popout.menu.quickReactions.button')} {
		width: 100%;
		border-radius: 0;
		background: transparent;
		padding: 4px 0;
		&:hover {
			background: var(--fg-hover);
		}
	}
}
