@use '../classes' as *;

#{cls('mount')} {
	#{cls('popout.user.outer')} {
		border: 1px solid var(--border);
		background: var(--bg-flyout);
		box-shadow: var(--shadow-flyout);
		border-radius: var(--radius);
		backdrop-filter: blur(var(--app-blur));
		padding: 0;

		#{cls('roles.root')} {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}
		#{cls('roles.role')} {
			margin: 0;
			border-radius: 50px;
			height: auto;
			padding: 6px 8px;
			gap: 6px;
			background: var(--fg-main);
			border: none;
		}
		#{cls('roles.circle')},
		#{cls('roles.name')} {
			margin: 0;
		}

		&.theme-light {
			--border: hsl(0 0% 0% / 0.175) !important;
		}
	}
	#{cls('popout.user.inner')} {
		&::before {
			width: 100%;
			height: 100%;
		}
	}
	#{cls('popout.user.innerWithBanner popout.user.avatarWrapper')} {
		top: 72px;
		left: 18px;
	}
	#{cls('popout.user.innerWithoutBanner popout.user.avatarWrapper')} {
		top: 42px;
		left: 18px;
	}
	#{cls('popout.user.inner!popout.user.innerNonPremium popout.user.overlay')} {
		border: 1px solid var(--border);
		& > #{cls('popout.user.section')}:first-child {
			padding-bottom: 0;
		}
	}

	#{cls('popout.user.innerNonPremium')} {
		background: transparent;
		#{cls('popout.user.overlay')} {
			margin: 8px 0 0;
			padding: 0;
			background: transparent;
		}
	}
	#{cls('popout.user.section')} {
		padding: 16px;
	}
	#{cls('popout.user.scroller')} > #{cls('popout.user.section')} {
		border-top: 1px solid var(--border);
	}
	#{cls('popout.user.divider')} {
		display: none;
	}
	#{cls('popout.user.messageContainer')} {
		border: none;
		border-radius: 0;
	}
}
